:root {
    interpolate-size: allow-keywords;
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-feature-settings: "kern"1;
	font-kerning: normal;
	background: white;
	color: $dark-grey;
	font-family: $font-body;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
    margin: 0;
	position: relative;
	width: 100%;
}

h1 {
	font-size: 2.75rem;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-header;
	font-weight: 500;
}
p, a {
	font-family: $font-body;
	font-weight: 400;
}

/* Hide things */
.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	font-size: 0;
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	text-indent: -9999rem;
	width: 1px;
}

.skip-link {
	border-radius: 0;
	left: 50%;
	position: fixed;
	top: -10rem;
	transform: translateY(-100%);
	transition: transform 0.3s;
	z-index: 999;

	&:focus {
		transform: translateY(0%);
	}
}

.container {
	max-width: 80rem;
	margin: 0 auto;
	padding: 0 $gap;
	position: relative;
	
	@include break(small) {
        padding: 0 $gap * 2;
    }
}