.header {
    background-color: $dark-grey;

    &-inner {
        align-items: center;
        display: flex;
        position: initial;

        * {
            margin: 0;
        }
    }

    .responsive-nav-button {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='12' viewBox='0 0 18 12' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0H18V2H0V0ZM0 5H18V7H0V5ZM18 10H0V12H18V10Z' fill='white'/%3E%3C/svg%3E");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-color: transparent;
        border: 0;
        display: block;
        height: 12px;
        margin: 0 auto 0 0;
        width: 18px;

        @include break(medium) {
            display: none;
        }
    }

    &-logo {
        display: block;
        margin: $gap * 1.5 auto;
        width: 100px;

        @include break(medium) {
            margin: 0;
        }

        @include break(large) {
            width: 118px;
        }
        
        img {
            width: 100%;
        }
    }

    &-nav-list {
        display: none;
        justify-content: space-between;
        list-style: none;
        margin: 0;
        padding: 0 0 0 $gap;

        @include break(medium) {
            display: flex;
        }
        @include break(large) {
            padding: 0 0 0 $gap * 2;
        }


        .header-nav-link {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='17' viewBox='0 0 30 17' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.443753 3.42749L13.3608 16.0874C13.7137 16.4333 14.1974 16.5729 14.6559 16.5061C15.1143 16.5729 15.5981 16.4333 15.951 16.0874L28.868 3.42749C29.4597 2.84762 29.4597 1.90743 28.8681 1.32753C28.2765 0.747621 27.3173 0.747591 26.7256 1.32746L14.6559 13.157L2.58616 1.32746C1.99451 0.747591 1.03529 0.747621 0.443686 1.32753C-0.147922 1.90743 -0.147892 2.84762 0.443753 3.42749Z' fill='white'/%3E%3C/svg%3E");
            background-position: right $gap * 1.5 center;
            background-repeat: no-repeat;
            background-size: 12px 12px;
            border-right: solid 1px #252525;
            color: white;
            display: block;
            font-size: 0.875rem;
            font-weight: 600;
            padding: $gap * 1.5 $gap * 3 $gap * 1.5 $gap;
            text-decoration: none;
            transition: all 0.3s;
            white-space: nowrap;

            @include break(large) {
                padding: $gap * 1.5 $gap * 3.5 $gap * 1.5 $gap * 1.5;
            }

            &.active, &:hover {
                background-color: $mid-grey;
            }
        }
    }

    &-nav-sub {
        background-color: $mid-grey;
        left: 0;
        position: absolute;
        width: 100%;

        &-inner {
            max-width: 80rem;
            margin: 0 auto;
            padding: 0 $gap * 2;
        }
        &-list {
            display: flex;
            gap: $gap * 3.5;
            
    
            .header-nav-sub-link {
                color: white;
                display: block;
                font-size: 0.875rem;
                padding: $gap 0;
                text-decoration: none;
                transition: color 0.3s;
    
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .search {
        background-color: $mid-grey;
        display: block;
        left: 0;
        margin-left: auto;
        position: absolute;
        top: 71px;
        width: 100%;

        @include break(medium) {
            background-color: transparent;
            position: relative;
            top: 0;
            width: auto;
        }

        &-inner {
            margin: $gap / 2 $gap * 2;
            position: relative;

            @include break(medium) {
                margin: 0;
            }
        }

        &-input {
            border: solid 1px #EAEAEA;
            border-radius: $corner;
            padding: $gap / 2 $gap * 2.8 $gap / 2 $gap / 2;
            width: 100%;

            @include break(medium) {
                width: 100px;
            }

            @include break(large) {
                padding: $gap / 2 $gap * 2.8 $gap / 2 $gap;
                width: 296px;
            }
        }
        &-button {
            background-color: transparent;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='17' viewBox='0 0 16 17' fill='none'%3E%3Cpath d='M11.4351 10.5629H10.7124L10.4563 10.3159C11.3528 9.27301 11.8925 7.9191 11.8925 6.44625C11.8925 3.16209 9.23042 0.5 5.94625 0.5C2.66209 0.5 0 3.16209 0 6.44625C0 9.73042 2.66209 12.3925 5.94625 12.3925C7.4191 12.3925 8.77301 11.8528 9.81589 10.9563L10.0629 11.2124V11.9351L14.6369 16.5L16 15.1369L11.4351 10.5629ZM5.94625 10.5629C3.66838 10.5629 1.82962 8.72413 1.82962 6.44625C1.82962 4.16838 3.66838 2.32962 5.94625 2.32962C8.22413 2.32962 10.0629 4.16838 10.0629 6.44625C10.0629 8.72413 8.22413 10.5629 5.94625 10.5629Z' fill='%23202020'/%3E%3C/svg%3E");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 17px 17px;
            border: 0;
            border-left: solid 1px #EAEAEA;
            border-radius: 0 $corner $corner 0;
            cursor: pointer;
            height: 100%;
            position: absolute;
            right: 0;
            transition: all 0.3s;
            width: 40px;

            &:hover {
                background-color: $yellow;
            }
        }
    }
    &-links {
        align-items: center;
        display: flex;
        gap: $gap / 2;
        margin: 0 0 0 auto;

        @include break(medium) {
            margin: 0 0 0 $gap;
        }        

        @include break(large) {
            gap: $gap * 1.5;
            margin: 0;
            padding-left: $gap * 1.5;
        }        
    }
    &-link {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: block;
        height: 23px;
        transition: all 0.3s;
        width: 23px;

        &.profile {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M9.99933 2.99935C11.2827 2.99935 12.3327 4.04935 12.3327 5.33268C12.3327 6.61603 11.2827 7.66603 9.99933 7.66603C8.71603 7.66603 7.66603 6.61603 7.66603 5.33268C7.66603 4.04935 8.71603 2.99935 9.99933 2.99935ZM9.99933 14.666C13.1493 14.666 16.766 16.171 16.9993 16.9993H2.99935C3.26768 16.1593 6.86103 14.666 9.99933 14.666ZM9.99933 0.666016C7.42103 0.666016 5.33268 2.75435 5.33268 5.33268C5.33268 7.91103 7.42103 9.99933 9.99933 9.99933C12.5777 9.99933 14.666 7.91103 14.666 5.33268C14.666 2.75435 12.5777 0.666016 9.99933 0.666016ZM9.99933 12.3327C6.88433 12.3327 0.666016 13.896 0.666016 16.9993V19.3327H19.3327V16.9993C19.3327 13.896 13.1143 12.3327 9.99933 12.3327Z' fill='white'/%3E%3C/svg%3E");
            height: 18px;
            width: 18px;

            &:hover {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M9.99933 2.99935C11.2827 2.99935 12.3327 4.04935 12.3327 5.33268C12.3327 6.61603 11.2827 7.66603 9.99933 7.66603C8.71603 7.66603 7.66603 6.61603 7.66603 5.33268C7.66603 4.04935 8.71603 2.99935 9.99933 2.99935ZM9.99933 14.666C13.1493 14.666 16.766 16.171 16.9993 16.9993H2.99935C3.26768 16.1593 6.86103 14.666 9.99933 14.666ZM9.99933 0.666016C7.42103 0.666016 5.33268 2.75435 5.33268 5.33268C5.33268 7.91103 7.42103 9.99933 9.99933 9.99933C12.5777 9.99933 14.666 7.91103 14.666 5.33268C14.666 2.75435 12.5777 0.666016 9.99933 0.666016ZM9.99933 12.3327C6.88433 12.3327 0.666016 13.896 0.666016 16.9993V19.3327H19.3327V16.9993C19.3327 13.896 13.1143 12.3327 9.99933 12.3327Z' fill='%23FFBA00'/%3E%3C/svg%3E");
            }
        }
        &.basket {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M17.3031 13.1673C18.1781 13.1673 18.9481 12.689 19.3447 11.9657L23.5214 4.39398C23.9531 3.62398 23.3931 2.66732 22.5064 2.66732H5.2398L4.14313 0.333984H0.328125V2.66732H2.66146L6.86146 11.5223L5.28646 14.369C4.4348 15.9323 5.5548 17.834 7.32813 17.834H21.3281V15.5007H7.32813L8.61144 13.1673H17.3031ZM6.34812 5.00065H20.5231L17.3031 10.834H9.11315L6.34812 5.00065ZM7.32813 19.0007C6.0448 19.0007 5.00645 20.0507 5.00645 21.334C5.00645 22.6173 6.0448 23.6673 7.32813 23.6673C8.61145 23.6673 9.66145 22.6173 9.66145 21.334C9.66145 20.0507 8.61145 19.0007 7.32813 19.0007ZM18.9947 19.0007C17.7114 19.0007 16.6731 20.0507 16.6731 21.334C16.6731 22.6173 17.7114 23.6673 18.9947 23.6673C20.2781 23.6673 21.3281 22.6173 21.3281 21.334C21.3281 20.0507 20.2781 19.0007 18.9947 19.0007Z' fill='white'/%3E%3C/svg%3E");

            &:hover {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M17.3031 13.1673C18.1781 13.1673 18.9481 12.689 19.3447 11.9657L23.5214 4.39398C23.9531 3.62398 23.3931 2.66732 22.5064 2.66732H5.2398L4.14313 0.333984H0.328125V2.66732H2.66146L6.86146 11.5223L5.28646 14.369C4.4348 15.9323 5.5548 17.834 7.32813 17.834H21.3281V15.5007H7.32813L8.61144 13.1673H17.3031ZM6.34812 5.00065H20.5231L17.3031 10.834H9.11315L6.34812 5.00065ZM7.32813 19.0007C6.0448 19.0007 5.00645 20.0507 5.00645 21.334C5.00645 22.6173 6.0448 23.6673 7.32813 23.6673C8.61145 23.6673 9.66145 22.6173 9.66145 21.334C9.66145 20.0507 8.61145 19.0007 7.32813 19.0007ZM18.9947 19.0007C17.7114 19.0007 16.6731 20.0507 16.6731 21.334C16.6731 22.6173 17.7114 23.6673 18.9947 23.6673C20.2781 23.6673 21.3281 22.6173 21.3281 21.334C21.3281 20.0507 20.2781 19.0007 18.9947 19.0007Z' fill='%23FFBA00'/%3E%3C/svg%3E");
            }
        }
    }
}

.breadcrumbs {
    display: flex;
    padding: $gap 0;
    flex-wrap: wrap;
    gap: $gap 0;

    &-link {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='30' viewBox='0 0 17 30' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.3767 29.0269L16.0366 16.1099C16.3825 15.757 16.5221 15.2733 16.4553 14.8148C16.5221 14.3564 16.3825 13.8726 16.0366 13.5197L3.3767 0.60269C2.79683 0.0110434 1.85665 0.0110148 1.27674 0.602623C0.696839 1.19423 0.696809 2.15345 1.27668 2.74509L13.1062 14.8148L1.27668 26.8845C0.69681 27.4762 0.69684 28.4354 1.27675 29.027C1.85665 29.6186 2.79683 29.6186 3.3767 29.0269Z' fill='%23939393'/%3E%3C/svg%3E");background-position: right $gap * 1.5 center;
        background-position: right $gap center;
        background-repeat: no-repeat;
        background-size: 8px 12px;
        color: #707070;
        display: block;
        padding-right: $gap * 2.5;
        text-decoration: underline;

        &:hover {
            color: $black;
        }

        &.current {
            background-image: none;
            color: $black;
            padding-right: 0;
            text-decoration: none;
        }
    }
    
    &-outer {
        margin-top: 49px;
        position: sticky;
        z-index: 999;

        @include break(medium) {
            background-color: $light-grey;
            margin-top: 46px;
        }

        .container {
            align-items: center;
            display: flex;
            justify-content: space-between ;
        }
        .header-basket {
            align-items: center;
            background-color: $light-grey;
            bottom: 0;
            display: flex;
            gap: $gap;
            justify-content: space-between;
            left: 0;
            position: fixed;
            width: 100%;

            @include break(medium) {
                justify-content: initial;
                position: relative;
                width: auto;
            }

            &-price {
                font-family: $font-header;
                padding-left: $gap * 2;

                @include break(medium) {
                    padding-left: 0;
                }
            }
            &-link {
                border-radius: 0;
                padding: $gap;
            }
        }
    }
}