@font-face {
    font-family: 'Eurostile';
    src: url('../fonts/Eurostile-Demi.woff2') format('woff2'),
        url('../fonts/Eurostile-Demi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MyriadPro';
    font-style: normal;
    font-weight: 400;
    src: local('Myriad Pro Regular'), url('../fonts/MYRIADPRO-REGULAR.woff') format('woff');
}
@font-face {
    font-family: 'MyriadPro';
    font-style: normal;
    font-weight: 600;
    src: local('Myriad Pro Regular'), url('../fonts/MYRIADPRO-BOLD.woff') format('woff');
}